@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navigasi*/
nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
}

#navbar.scrolled {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    transition: .3s ease-out;
    padding :10px;
}

#navbar.scrolled .nav-items{
    color: #ffffff;
}

#navbar.scrolled .title-icon{
    color: #ffffff;
}


@keyframes scrolled{
    from{
        top: -250px;
    }
    to{
        top: 0;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.nav-container {
    display: flex;
    margin-right: 15px;
}

.nav-items {
    border: 1px solid;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.title-icon {
    font-weight: 600;
    margin-left: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: #3d3d3d;
}

.toggle-btn i {
    position: absolute;
    display: none;
    right: 2rem;
    top: 15px;
    margin-top: 7px;
    color: rgb(0, 0, 0); /* Warna hitam sebelum scroll */
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s, top 0.3s; /* Tambahkan transisi untuk perubahan yang halus */
}

.scrolled .toggle-btn i {
    color: rgb(255, 255, 255); /* Warna putih setelah scroll */
    top: 10px;
}

.dropdown-menu {
    display: none; 
    position: absolute;
    right: 2rem;
    top: 70px; 
    height: 0;
    width: 300px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden; 
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.active {
    height: 130px; 
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-items{
    font-size: 15px;
    color: #f9f9f9;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

#item1 {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid;
    color: #3d3d3d;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: 5px;
    margin-right: 15px;
    transition: background-color 0.3s, color 0.3s;
}

#item1:hover {
    background-color: #e8e8e85f; 
    color: #333333; 
}


#item2 {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid;
    color:#3d3d3d;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: 5px;
    margin-right: 15px;
    transition: background-color 0.3s, color 0.3s;
}

#item2:hover {
    background-color: #e8e8e85f; 
    color: #333333; 
}

#item3 {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid;
    color: #3d3d3d;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: 5px;
    margin-right: 15px;
    transition: background-color 0.3s, color 0.3s;
}

#item3:hover {
    background-color: #e8e8e85f; 
    color: #333333; 
}

/*Judul Konten*/
.main-title{
    text-align: center;
    padding-top: 90px;
}

.judul{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: 700;
}

.sub-judul{
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
}

/*Konten Gambar*/
.main-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.main-content-banner {
    width: 100%;
    height: 450px;
    display: block;
    object-fit: cover;
}
.main-content-sub {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color:rgb(145, 144, 144);
    margin-left: 20px;
    margin-top: 20px;
}

.img-slideshow {
    width: 750px;
    height: 450px;
    display: block;
    border-radius: 20px;
    padding: 10px;
}

/*Konten Form*/
.main-form {
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
}

.form-title {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.form-paragraph {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.main-name {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

#name {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid rgb(145, 144, 144);
    width: calc(100% - 82px); 
    box-sizing: border-box;
}

#name::placeholder {
    color: #999999; 
    font-size: 12px;
    opacity: 1; 
}

#name:focus {
    border-color: #4A90E2; 
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); 
    outline: none; 
}

.input-email{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

#email {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid rgb(145, 144, 144);
    width: calc(100% - 82px); 
    box-sizing: border-box;
}

#email::placeholder {
    color: #999999; 
    font-size: 12px;
    opacity: 1; 
}

#email:focus {
    border-color: #4A90E2; 
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); 
    outline: none; 
}

.input-phonenumber{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

#phone {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid rgb(145, 144, 144);
    width: calc(100% - 82px); 
    box-sizing: border-box;
}

#phone::placeholder {
    color: #999999; 
    font-size: 12px;
    opacity: 1; 
}

#phone:focus {
    border-color: #4A90E2; 
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); 
    outline: none; 
}

.main-destination-title {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid rgb(145, 144, 144);
    width: calc(100% - 82px); 
    box-sizing: border-box;
}

.custom-select-trigger {
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.custom-options {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
    right: 0;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 99;
    font-family: "Poppins", sans-serif;
}

.custom-option {
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.custom-option:hover {
    background: #b4b4b4;
}

.custom-select.open .custom-options {
    display: flex;
}

.main-form-submit {
    width: 60px;
    height: 40px;
    margin-left: 20px;
    margin-top: 25px;
    padding: 0px 20px;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #f9f9f9;
    width: calc(100% - 82px);
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.main-form-submit:hover {
    background-color: #e8e8e85f; 
    color: #333333; 
}


 /*Deskripsi */
 .main-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
 }

 .item-icon{
    margin-right: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
 }
 .icon{
    
     height: 40px;
     width: 40px;
     border-radius: 50%;
     object-fit: fill;
 }

 .icon-description-title {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin-bottom: 2px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
 }

 .icon-description-sub {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color:rgb(145, 144, 144);
    padding: 0;
    margin-bottom: 2px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 5px;
 }
 
 .line-breaking {
    display: flex;
    margin: 15px auto 0 auto; 
    align-items: center;
    justify-content: center;
    width:150px;
    height: 1px;
    background-color: #e6e6e6;
}

/*Benefit*/
.main-benefit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.main-benefit h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 10px;
}

.main-list-benefit {
    display: flex;
    margin-top: 10px;
}

.list-benefit {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; 
}

.benefit-number {
    font-size: 15px;
    color: #575757;
    font-family: "Poppins", sans-serif;
}

.list-description h2 {
    font-size: 15px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    margin-left: 15px;
    margin-top: 8px;
    font-weight: 500;
}

/*Menu*/
.main-menu{
    position: relative;
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.menu-title {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: #333333;
    text-align: center;
}

.menu-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 50px; 
    padding: 20px;
}

.menu-content > div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-content img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    position: relative;
}

.menu-content img:hover {
    transform: scale(1.05); 
    opacity: 1; 
}

.menu-content h2 {
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.menu-content p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 5px;
}


/*Bottom Content*/
.bottom { 
    margin-bottom: 50px;
    background:  #f9f9f9;
    height: auto;
    width: 100%;
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
    color: #fff;
}

.bottom-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.bottom-content h2{
    font-size: 28px;
    font-weight:600;
    text-transform: capitalize;
    line-height: 5px;
    color: black;
    margin-bottom: 10px;
}

.bottom-content p{
    max-width: 500px;
    margin: 10px auto;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 14px;
    color: black;
}

.cta-button {
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #9b59b6;
    background-color: #71b7e641;
    color: rgb(0, 0, 0); 
    text-align: center;
    text-decoration: none; 
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.cta-button:hover {
    background-color: hsl(211, 98%, 75%); 
}


/*Footer*/
footer{
    position: relative;
    z-index: 1000; 
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
    height: 130px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.footer-bottom{
    text-align: center;
    padding: 10px;
}

.footer-bottom h2 {
    font-size: 28px;
    font-weight:500;
    color: rgb(255, 255, 255);
}

.footer-bottom h3 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.footer-bottom p {
    font-size: 14;

}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/*error massage*/
.error-message {
    color: red;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 5px;
}



@media (max-width: 1500px) {
    nav {
        width: 100%;
        padding: 15px;
        position: fixed;
    }

    .nav-container {
        justify-content: center; 
        margin: 0; 
        width: 100%;
        margin-left: 10px;
    }

    .nav-items {
        display: none; 
    }

    .toggle-btn i {
        display: block;
    
    }

    .dropdown-menu{
        display: block;
    }

    .main-title{
        padding-top: 10px;
    }

    
    .title-icon {
        font-size: 25px; 
        margin: 0;
    }

    .main-content {
        flex-direction: column; 
        gap: 10px; 
    }

    .main-content-banner {
        height: auto; 
    }

    .main-content-sub {
        font-size: 13px; 
        margin-left: 10px; 
        margin-top: 10px; 
    }

    .img-slideshow {
        width: 100%; 
        max-width: 768px; 
        height: auto; 
        padding: 5px; 
    }

    .main-item {
        align-items: center; 
        margin-top: 10px; 
    }

    .item-icon {
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    .icon {
        height: 30px; 
        width: 30px; 
    }

    .icon-description-title {
        font-size: 16px; 
        margin-top: 5px;
    }

    .icon-description-sub {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 10px; 
    }

    .line-breaking {
        width: 100px; 
    }

    .main-form {
        padding: 10px; 
        height: auto; 
    }

    .judul{
        font-size: 20px;
        text-align: center;
        padding-top: 50px;
    }

    .main-benefit {
        align-items: center; 
        margin-right: 10px;
    }

    .main-benefit h2 {
        font-size: 17px; 
        margin-left: 0; 
        margin-right: 0; 
        text-align: center; 
    }

    .main-list-benefit {
        align-items: center; 
        margin-left: 20px;
    }

    .list-benefit {
        margin-left: 0; 
        margin-right: 0; 
        margin-bottom: 15px; 
    }

    .list-description h2 {
        font-size: 14px; 
        margin-bottom: 20px;
        text-align: center; 
    }

    .form-title {
        font-size: 20px; 
        margin-left: 10px; 
        text-align: center;
    }

    .form-paragraph {
        font-size: 14px; 
        margin-left: 10px; 
        margin-bottom: 20px; 
        text-align: center;
    }

    .main-name {
        font-size: 14px; 
        margin-left: 20px; 
    }
    
    .main-menu {
        height: auto; 
        padding: 10px; 
        margin-bottom: 20px; 
    }

    .menu-title {
        font-size: 30px; 
        text-align: center;
    }

    .menu-content {
        grid-template-columns: 1fr; 
        grid-gap: 20px; 
        padding: 10px; 
    }

    .menu-content img {
        width: 100%; 
        height: auto; 
    }

    .menu-content h2 {
        font-size: 30px; 
    }

    .menu-content p {
        font-size: 18px; 
        margin-top: 5px;
    }

    .bottom-content {
        font-size: 20px;
    }

    .bottom-content h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .bottom-content p {
        font-size: 12px;
    } 
    footer {
       
        text-align: center; 
    }

    @media (max-width: 1280px){
        .main-form {
            padding: 10px; 
            height: auto; 
        }
    }


    @media (max-width: 728px){
        .menu-title {
            font-size: 24px; 
        }

        .menu-content h2 {
            font-size: 25px; 
        }
    
        .menu-content p {
            font-size: 15px; 
            margin-top: 5px;
        }
    }

    @media (max-width: 576px) {
        .dropdown-menu{
            left: 2rem;
            width: unset;
        }
    }


}
